api.donit.xyz {
	gzip
	proxy / donit-api:8080
}

www.donit.xyz {
	gzip 
	proxy / donit-web:9000
}

f2U7xjKF97.donit.xyz {
	gzip
	proxy / donit-test:9000
}

db.donit.xyz {
    proxy / donit-database:8080
}
